<div class="row align-items-center">
  <div class="text-center">
    <div class="container">
      <div class="col-md-10 table-wrap">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">Group name</th>
            <th scope="col">Practice name</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <% @user.practices.each do |practice| %>
              <% practice.groups.each do |group| %>
                <td><%= group.name %></td>
              <% end %>
              <td><%= practice.name %></td>
              </tr>
            <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

