<div class="row align-items-center">
  <div class="col-md-6">
    <div class="text-center">
      <h1 class="display-2">
        <%= @user.username %>
      </h1>
      <div>
        <h4>
          <%= link_to "All Group Practices", practices_path %>
        </h4>
        <h4>
          <%= link_to "All Individual practices", not_group_path %>
        </h4>
        <h4>
          <%= link_to "All Groups", groups_path %>
        </h4>
      </div>
    </div>
  </div>
</div>

