<table class="table">
  <thead>
  <tr>
    <th scope="col">name</th>
    <th scope="col">time</th>
    <th scope="col">date</th>
  </tr>
  </thead>
  <tbody>
  <% practices.each do |practice| %>
    <tr>
      <td><%= link_to "#{practice.name}", practice%></td>
      <td><%= practice.hours %> hs</td>
      <td><%= practice.created_at.strftime("%b %d, %Y").downcase %></td>
    </tr>
  <% end %>
  </tbody>
</table>