<div class="container">
  <%= image_tag "undraw_just_browsing_m0vg.svg", alt: "scheduale", width: 300 %>
  <h1>It looks like you have not scheduale a practice!</h1>
  <%= link_to "Scheduale", new_practice_path %>
</div>