@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/mixins';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$black: #161b1c;
$font-primary: 'Poppins',Arial, sans-serif;
$primary: #f8b739;


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
body{
  padding-top: 40px;
}
.navbar{
  background-color: #3174BE;
  border: none;
}
.navbar-inverse .navbar-nav > li > a{
  color: $black;
  font-size: 20px;
}
.table-wrap{
  padding-top: 40px;
}
.alert{
  margin-top: 40px;
}



